html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(19, 19, 20);
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
}

.card {
  height: 100px;
  aspect-ratio: 1 / 1;
  background-color: rgb(125, 185, 241);
  margin: 1em;
  position: relative;
  border-radius: 8px;
  border: 2px solid rgb(167, 49, 167);
}
.back {
  height: 100px;
  aspect-ratio: 1 / 1;
  background-color: rgb(167, 49, 167);
  position: absolute;
  border-radius: 30px;
  display: none;
}
