html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(19, 19, 20);
  height: 100vh;
}
.flex {
  display: flex;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
p {
  font-size: 35px;
}
.card {
  height: 100px;
  aspect-ratio: 1 / 1;
  background-color: rgb(125, 185, 241);
  margin: 1em;
  position: inherit;
  border-radius: 8px;
  border: 2px solid rgb(167, 49, 167);
}
.back {
  height: 100px;
  aspect-ratio: 1 / 1;
  background-color: rgb(167, 49, 167);
  position: inherit;
  border-radius: 30px;
}

.show-front {
  display: none;
}

/*#heart {
  position: relative;
  width: 100px;
  height: 90px;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  justify-content: end;
}

#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}*/
